{% extends "base.html" %}

{% block content %}
    <h1 class="mb-4">{{ game.title }}</h1>
    <p class="lead">Select a category to see available listings.</p>
    <hr>

    <div class="list-group">
        {% for category in categories %}
            <a href="{% url 'listing_page' game_pk=game.pk category_pk=category.pk %}" class="list-group-item list-group-item-action">
    {{ category.name }}
</a>
        {% empty %}
            <p>There are no categories available for this game yet.</p>
        {% endfor %}
    </div>
{% endblock %}