{% load time_filters %}

<div class="d-flex align-items-center mb-3">
    <img src="{{ other_user.profile.image_url }}" alt="{{ other_user.username }}" width="40" height="40" class="rounded-circle me-3">
    <div>
        <h5 class="mb-0">{{ other_user.username }}</h5>
        
        <small class="user-status {% if other_user.profile.is_online %}online{% else %}offline{% endif %}"
               data-username="{{ other_user.username }}"
               {% if not other_user.profile.is_online and other_user.profile.last_seen %}
                   data-iso-timestamp="{{ other_user.profile.last_seen.isoformat }}"
               {% endif %}
        >
            {% if other_user.profile.is_online %}
                Online
            {% elif other_user.profile.last_seen %}
                was active {{ other_user.profile.last_seen|timesince }} ago
            {% else %}
                Offline
            {% endif %}
        </small>
    </div>
</div>