{% load time_filters %}

<div class="d-flex align-items-center mb-3">
    <img src="https://i.imgur.com/v8Ld3iI.png" alt="{{ other_user.username }}" width="40" height="40" class="rounded-circle me-3">
    <div>
        <h5 class="mb-0">{{ other_user.username }}</h5>
        
        <small id="status-chat-{{ other_user.username }}" 
               class="{% if other_user.profile.is_online %}text-success{% else %}text-muted{% endif %}"
               {% if not other_user.profile.is_online and other_user.profile.last_seen %}
                   data-iso-timestamp="{{ other_user.profile.last_seen.isoformat }}"
                   data-username="{{ other_user.username }}"
               {% endif %}
        >
            {% if other_user.profile.is_online %}
                Online
            {% elif other_user.profile.last_seen %}
                was active {{ other_user.profile.last_seen|timesince }} ago
            {% endif %}
        </small>
    </div>
</div>