{% load time_filters %}

<a href="{% url 'order_detail' order.clean_order_id %}" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Order {{ order.order_id }} - {{ order.product.game.title }}: {{ order.product.listing_title }}</h5>
        <small>{{ order.created_at|date:"M. d, Y" }}</small>
    </div>
    <p class="mb-1">Buyer: {{ order.buyer.username }}</p>
    <small>Status:
        <span class="badge rounded-pill
            {% if order.status == 'COMPLETED' %}bg-success
            {% elif order.status == 'PROCESSING' %}bg-warning text-dark
            {% elif order.status == 'REFUNDED' or order.status == 'CANCELLED' %}bg-danger
            {% else %}bg-secondary
            {% endif %}">
            {{ order.get_status_display }}
        </span>
    </small>
</a>